/* Base styles */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1;
  height: 100%;
}
html, body,h1,header {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  height: 100vh;
  width: 100%;
  font-family: 'Droid Serif', serif;
}


#bg-img {
  background: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%),
              url("../images/photo_bg.jpg") no-repeat center center fixed;
  background: -o-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%),
               url("../images/photo_bg.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%),/* med qu*/
              url("../images/photo_bg.jpg") no-repeat center center fixed;
  position: fixed;
  margin: 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.blurfilter{
  background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%),/* med qu*/
              url("../images/photo_bg-blur.jpg") no-repeat center center fixed  !important;
  position: fixed !important;
  background-size: cover !important;
  height: 100vh  !important;
  width: 100vw  !important;
}

header h1 {
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
  font-size: 75px; /* med qu*/
  color:rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 rgba(105,105,105,0.5),
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.4),
               0 0 5px rgba(0,0,0,.3),
               0 1px 3px rgba(0,0,0,.4),
               0 3px 5px rgba(0,0,0,.3),
               0 5px 10px rgba(0,0,0,.4),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  opacity: 0.7;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

button {
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.fixtop{
  top:170% !important;/*med qu */
}

/* Container */
.container {
  position: absolute;
  left: 50%;
  top: 50%;/*med qu */
  height: 100%;/*med qu */
  width: 50%;/*med qu */
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Profile Card */
.profile {
  position: relative;
}
.profile--open .profile__form {
  visibility: visible;
  height: auto;
  opacity: 0.7;
  transform: translateY(-6em);
  padding-top: 12em;
}

.profile--open .profile__fields {
  opacity: 0.7;
  visibility: visible;
}

.profile--open .profile__avatar {
  transform: translate(-50%, -1.5em);
  border-radius: 50%;
}
.profile__form {
  position: relative;
  background:	rgba(211,211,211,0.3);
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .75em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition:
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top:100px !important;/*med qu */
}
.profile__fields {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  opacity:0.75;
  position: absolute;
  z-index: 1;
  left: 50%;
  top:5%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 4.5em;
  height: 4.5em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.profile__avatar:focus {
  outline: 0;
  opacity:0.7;
}
.profile__footer { /*only in this query*/
  padding-top: 1em;
}


/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.pass{
  margin-bottom: 1em ;
}

.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: black ;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 4rem;
  border-bottom: 1px solid #eee;
  color: blue;
  transition: all .2s ease-in;
  opacity: 1;
}
.input:focus {
  outline: 0;
  opacity: 1;
  border-color: red ;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: black ;
}

/* Button */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #8E49E8;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:focus {
  background: #A678E2;
}

.reload{
  margin:0px;
  padding:0px;
  margin-top:4px;
  margin-bottom:2em;
}

.captcha{
  margin-bottom:0.25em !important;
}
/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
